body {
    margin: 0px;
}

.news-wrapper {
    background: #DADADA;
    height: 120vh;
}

.news-wrapper .each-news {
    height: 300px;
    width: calc( (100% - 2 * 15px) / 3);
    background: #c77272;
}

@media (max-width:1200px) and (min-width:992px) {
    .col-md-4 {
        width: 33.333%;
        float: left;
        position: relative;
        padding: 0 15px;
    }
}


/*  .news-wrapper {
    width: 80%;
    background: #DADADA;
    height: 120vh;
    margin: 0 auto;
    position: relative;
} 

.news-wrapper .each-news {
    height: 300px;
    /* width: calc( (100% - 2 * 15px) / 3); */


/* background: #c77272;
float: left;
position: relative;

} */


/* .middle-margin {
    margin-left: 15px;
    margin-right: 15px;
} */


/* @media (max-width: 768px) and (min-width:481px) {
    .news-wrapper .each-news {
        height: 300px;
        width: calc( (100% - 15px) / 2);
        background: #c77272;
        float: left;
        margin-bottom: 15px;
        position: relative;
    }
    .middle-margin {
        margin: 0px;
    }
    .news-wrapper .each-news:nth-child(odd) {
        margin-left: 0;
    }
    .news-wrapper .each-news:nth-child(even) {
        margin-right: 0;
        float: right
    }
}

@media (max-width: 480px) {
    .news-wrapper .each-news {
        height: 300px;
        width: 100%;
        background: #c77272;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .middle-margin {
        margin: 0px;
    }
} */