html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************************************/
body{
	font-family: 'Roboto', sans-serif;

}
.header .container{
	width: 100%;
	background-color: #183544;
}
.col-md-2.img img{
	width: 60%;
	padding: 10px 0 10px 0;
	margin-left: 4em;
}
.content{
	position: relative;
}
.content .container .back{
	border-bottom: 1px solid #ddd;
	padding: 0px;
	margin-bottom: 1em;
}
.content .container .col-md-12 .back-home i{
	margin-right: 1em;
	margin-bottom: 2em;
}
.content .container .col-md-12 .back-home {
	margin-top: 1em;
}
.content .container .cart{
	padding: 0px;
}
.content .container .cart .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0.5em;
}
.content .container .col-md-2{
	padding: 0px;
	color: #646464;
	font-size: 14px;
}
.content .container .col-md-2 img{
	margin-top: 1.5em;
	margin-left: 0em;
	width: 62%;
}
.content .container .col-md-3{
	padding-top: 2em;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -30px;
}
.content .container .price p{
	margin-bottom: 4.5em;
}
.content .container .price p.instock{
	color: #c59c20!important;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.content .container .price p.model{
	font-size: 14px;
}
.follow {
	font-size: 0.8em;
	margin-left: -5px;
	margin-top: 10px;
}

.follow i.fa-heart,
.fa-facebook-square {
	font-size: 2em;
	margin-right: 5px;
	margin-left: 5px;
}

.fa-facebook-square {
	color: #5B7DB7;
}
.fa-heart {
	color: #d6cfcf;
}

.follow p:hover i.fa-heart {
	color: #EC8489;
}
.content .container .cart .money p,
.content .container .cart .size p
{
	margin-bottom: 2em;
}
.content .container .cart .information{
	width: 36%;
	padding: 0 0 0 33px;
}
.content .container .cart .information p{
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}
.content .container .cart .information p.infor{
	padding-bottom: 1em;
}
.content .container .cart .information p.col{
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}
.content .container .cart .information span.price{
	float: right;
}
.content .container .cart .information p.col2{
	border: none;
	padding-top: 1.25em;
}
.content .container .cart .information p.col2 span{
	float: right;
}
.content .container .cart .information button{
	width: 380px;
	height: 38px;
	background: #f37021;
	color: #fff;
}
.content .container .size p.sizeof button{
	margin-left: 40px;
}
.content .container .size p{
	margin-bottom: 1.9em;
}
.content .container .size .number{
	width: 0;
	font-size: 22px;
	margin-top: -48px;
	margin-left: 6px;
}
.content .container .size .number input{
	width: 30px;
	height: 20px;
	text-align: center;
	margin-left: 2px;
}
.content .container .size p#sizeof3{
	margin-left: -56px;
	margin-bottom: 6px;
}
.content .container .size p#sizeof3 button{
	width: 23px;
}
.content .container .size p#sizeof2{
	margin-top: -26px;
}
.content .container .cart .size p{
	margin-bottom: 1.9em;
}
.table{
	width: 64%;
}
.col-md-6{
	padding: 0px;
}
.product-table{
	width: 100%;
}
tr > td.size{
	width: 16%;
	padding-bottom: 20px;

}
tr > td.none{
	width: 48%;
	padding-bottom: 20px;
	line-height: 22px;
}
td.none > p.model{
	margin-bottom: 5px;
}

tr > td.price{
	width: 20%;
	padding-bottom: 20px;
	text-align: center;

}
tr > td.price p{
	padding-top: 1px;

}

tr > td.sizeof{
	width: 20%;
	padding-bottom: -50px;

}
tr > td.size-item p{
	margin-top: -17px;
	text-align: center;
}
table > tbody > tr > td.size > img{
	width: 81%;
}
thead#thead-table tr td{
	padding-bottom: 5px;
}
td.sizeof .size{
	margin-top: -56px;
}
#delete-item{
	font-size: 1em;
	margin-bottom: 0px;  
	cursor: pointer;
}
#delete-item:hover{
	color: blue;
	text-decoration: underline;
}
#myTable > tbody > tr:nth-child(2) > td.none > p.instock{
	margin-top: 10px;
}
#myTable > tbody > tr > td.none > p.name{
	width: 345px;
	height: 42px;	
	overflow: hidden;
	margin-top: 10px;
}
#myTable > tbody > tr{
	border-bottom: 1px solid #ddd;
}
#myTable > tbody > tr > td.sizeof > div.size{
	margin-top: -66px;
	margin-left: 36px;	
}
.pay{
	width: 500px;
	height: 490px;
	position: absolute;
	top: 5%;
	left: 35%;
	z-index: 99999;
	background-color: #5B7DB7;
	border-radius: 10px;
	text-align: center;
	display: none;
}
.pay h1{
	text-align: center;
	font-size: 30px;
	border-bottom: 3px solid white;
	color: white;
}
.pay table{
	width: 500px;
	height: 450px;
	z-index: 99999;
}
.pay table td {
	color: white;
}
.pay table td input{
	border-radius: 5px;
	color: black;
}
body{
	position: relative;
}
.che{
	width: 1700px;
	height: 1000px;
	z-index: 999;
	background-color: gray;
	opacity: 0.4;
	position: absolute;
	display: none;
	left: 0;
	top:0;
}
.form-control{
	width: 85%;
}
.loading{
	position: absolute;
	top: 312px;
	left: 755px;
	z-index: 999999;
	display: none;
}
.loading button{
	border: none;
	background: none;
}
.loading i{
	font-size: 100px;
	color: #f37021;
}
.loading p{
	margin-top: 30px;
	margin-left: -110px;
	font-size: 26px;
}
.alert{
	width: 60%;
    text-align: center;
    margin-left: 312px;
    font-size: 60px;
    display: none;
    background-color: #f37021;
}
.alert strong{
	color: #fff;
}
